@use "../../styles/colors.module";

.user {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  align-items: center;
  border-bottom: 1px dashed colors.$light-gray;
}

.userImg {
  width: 50px;
  height: 50px;
  margin-right: 16px;

  img {
    width: 100%;
  }
}

.userInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter {
  padding: 16px;
  background: colors.$light-purple;
  border-radius: 5px;
  margin: 16px 0;
}
