@use "../../styles/colors.module";

.myPosts {
  grid-area: myPosts;
  box-shadow: 0 0 8px 1px rgb(0 0 0 / 20%);
  background: white;
  padding: 16px;
}

.postForm {
  width: 100%;
  min-height: 100px;
  margin-bottom: 32px;

  button {
    height: 48px;
    width: 108px;
  }
}

.post {
  margin: 8px 0;
}

.postContent {
  background: colors.$main-orange-03;
  padding: 16px;
}

.postText {
  display: flex;
  justify-content: space-between;
  align-items: center;
}